.footer 
   .container
      .footer__content 
         a.logotip(href="#!") 
            img.logotip__img(src="../img/MYWORK.png", alt="fgh")
         ul.nav__menu 
            each val in ['About me','Works','Contacts']
               li 
                  a(href="#!").nav__menu-link= val 
         .footer__home
            a.number(href="tel:+998996777556") (+99899) 677-75-56
            a.email(href="mailto:jasurbekjumaboyev57@gmail.com") JasurbeJumaboyev57@gmail.com